<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="titulo='Mi perfil', contenido=~{::contenido}"
      th:replace="~{layout :: layout(titulo=${titulo}, contenido=${contenido})}">

<section th:fragment="contenido">
    <h2>Mi perfil</h2>

    <p><strong>Nombre:</strong>
        <span th:text="${usuario.nombres + ' ' + usuario.apellidos}"></span>
    </p>
    <p><strong>Correo:</strong>
        <span th:text="${usuario.correoInstitucional}"></span>
    </p>
    <p><strong>Rol:</strong>
        <span th:text="${usuario.rolAsignado.nombreRol}"></span>
    </p>
</section>

</html>
