<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="titulo='Detalle usuario', contenido=~{::contenido}"
      th:replace="~{layout :: layout(titulo=${titulo}, contenido=${contenido})}">

<section th:fragment="contenido">
    <h2>Detalle de usuario</h2>

    <ul class="list-group">
        <li class="list-group-item">
            <strong>ID:</strong> <span th:text="${usuario.id}"></span>
        </li>
        <li class="list-group-item">
            <strong>Nombre:</strong>
            <span th:text="${usuario.nombres + ' ' + usuario.apellidos}"></span>
        </li>
        <li class="list-group-item">
            <strong>Correo:</strong>
            <span th:text="${usuario.correoInstitucional}"></span>
        </li>
        <li class="list-group-item">
            <strong>Rol:</strong>
            <span th:text="${usuario.rolAsignado.nombreRol}"></span>
        </li>
        <li class="list-group-item">
            <strong>Activo:</strong>
            <span th:text="${usuario.activo} ? 'Sí' : 'No'"></span>
        </li>
        <li class="list-group-item">
            <strong>Fecha creación:</strong>
            <span th:text="${usuario.fechaCreacion}"></span>
        </li>
    </ul>

    <a class="btn btn-secondary mt-3" th:href="@{/admin/usuarios}">Volver</a>
</section>

</html>
